@font-face {
  font-family: Colfax;
  src: url(fonts/ColfaxWebRegular.woff2);
}

@font-face {
  font-family: Colfax;
  src: url(fonts/ColfaxWebBold.woff2);
  font-weight: bold;
}


body {
  font-family: Colfax !important;
}

#index {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 21%, rgba(39, 6, 41, 1) 100%);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.landing {
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing a {
  color: #70cdff !important;
}


.landing-particles {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  pointer-events: none;
}

#about {
  background: white !important;
}

.about-content {
  height: 100%;
}

.icon {
  width:23px;
  height:23px;
}

.shadow-low {
    -webkit-box-shadow: 0 7px 14px 0 rgba(60,66,87,0.1), 0 3px 6px 0 rgba(0,0,0,0.07);
    -moz-box-shadow: 0 7px 14px 0 rgba(60,66,87,0.1),0 3px 6px 0 rgba(0,0,0,0.07);
    box-shadow: 0 7px 14px 0 rgba(60,66,87,0.1), 0 3px 6px 0 rgba(0,0,0,0.07);
}

.title-area {
  background-color: rgb(51,90,64);
  background: linear-gradient(180deg, #1e444a 75%, rgb(255, 255, 255) 25%);
  width: 100%;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
}

.project-content img{
  max-width: 50%;
    height: auto;
    padding:10px;
}
